<nav class="auth-navbar">
  <div class="auth-navbar__container">
    <!-- Brand -->
    <a class="auth-navbar__brand" routerLink="/login">
      <div class="auth-navbar__logo">
        <i class="pi pi-graduation-cap"></i>
      </div>
      <span class="auth-navbar__name">Coursat</span>
    </a>

    <!-- Right side -->
    <div class="auth-navbar__actions">
      <a class="auth-navbar__link" routerLink="/checkAccount">
        <i class="pi pi-search"></i>
        <span>Check Account</span>
      </a>
    </div>
  </div>
</nav>
