:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--gray-100);
}

.admin-layout {
  &__content {
    flex: 1;
    padding: 84px 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
