<div class="create-lecture">
  <!-- Header -->
  <div class="create-lecture__header">
    <div class="create-lecture__breadcrumb">
      <a routerLink="/instructor/dashboard">Dashboard</a>
      <i class="pi pi-angle-right"></i>
      <a routerLink="/instructor/course-sections-details/{{ courseId }}"
        >Course Sections</a
      >
      <i class="pi pi-angle-right"></i>
      <span>Create New Lecture</span>
    </div>
    <h1 class="create-lecture__title">Create New Lecture</h1>
    <p class="create-lecture__subtitle">
      Add a new lecture with video content to your course section
    </p>
  </div>

  <!-- Shared Lecture Form -->
  <app-lecture-form
    submitButtonText="Create Lecture"
    submitButtonIcon="pi pi-plus"
    [backLink]="'/instructor/course-sections-details/' + courseId"
    backButtonText="Back to Course Sections"
    backButtonIcon="pi pi-arrow-left"
    [isSubmitting]="isSubmitting"
    (formSubmit)="onSubmit($event)"
  />
</div>
